[Desktop Entry]
Version=0.17.6
Name=YuPost Core Testnet
Comment=Connect to the YuPost P2P Network Testnet
Exec=yupost-qt -testnet %u
Terminal=false
Type=Application
Icon=yuposttestnet128
MimeType=x-scheme-handler/yupost;
Categories=Network;
StartupWMClass=YuPost-qt-testnet
Name[en_US]=yupost-qt-testnet
